<h1>Listing bluetooth_devices</h1>

<table>
  <thead>
    <tr>
      <th>Mac adress</th>
      <th>Name</th>
      <th>Active</th>
      <th>Online</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bluetooth_devices.each do |bluetooth_device| %>
      <tr>
        <td><%= bluetooth_device.mac_adress %></td>
        <td><%= bluetooth_device.name %></td>
        <td><%= bluetooth_device.active %></td>
        <td><%= bluetooth_device.online? %></td>
        <td><%= link_to 'Show', bluetooth_device %></td>
        <td><%= link_to 'Edit', edit_bluetooth_device_path(bluetooth_device) %></td>
        <td><%= link_to 'Destroy', bluetooth_device, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bluetooth device', new_bluetooth_device_path %>
